.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-family: Arial, sans-serif;
}

th {
  background-color: #968b8b;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #fff;
}

td,
th {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  text-align: left;
}
